# Python
__pycache__/
*.py[cod]

# Virtual environment
backend/venv/
backend/.venv/

# Django
backend/db.sqlite3
*.log
media/
staticfiles/

# Environment variables
.env
backend/.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db